<!DOCTYPE html>
<html>
<head>
    <title>Forum</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../style/daforum.css">
</head>
<body>
    <div class="decoration decoration-1"></div>
    <div class="decoration decoration-2"></div>

    <% if (success_msg && success_msg.length > 0) { %>
        <div class="alert alert-success">
            <i class="fas fa-check-circle"></i> <%= success_msg %>
        </div>
    <% } %>
    
    <% if (error_msg && error_msg.length > 0) { %>
        <div class="alert alert-danger">
            <i class="fas fa-exclamation-circle"></i> <%= error_msg %>
        </div>
    <% } %>

    <div class="header-container">
        <a href="/users/dashboard<%= user.userType.charAt(0).toUpperCase() + user.userType.slice(1) %>" class="back-btn">
            <i class="fas fa-arrow-left"></i> Retour
        </a>
    </div>

    <h1>Forum</h1>
    <% if(user.userType =! 'simple'){ %>
        <a href="/users/formForum" class="create-btn">
            <i class="fas fa-plus"></i> Créer un post
        </a>
    <%}%>

    <% posts.forEach(post => { %>
        <div class="container">
            <div class="title"><%= post.titre %></div>
            <div class="author">Posté par <%= post.login %></div>
            <div class="content"><%= post.texte %></div>
            <div class="date">Créé le <%= new Date(post.datecreation).toLocaleString('fr-FR') %></div>
        </div>
    <% }) %>

</body>
</html>