<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des utilisateurs</title>
    <link rel="stylesheet" href="../style/daLU.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>
    <div class="header-container">
        <a href="/users/dashboard<%= user.userType.charAt(0).toUpperCase() + user.userType.slice(1) %>" class="back-btn"><i class="fas fa-arrow-left"></i> Retour</a>
        <h1 class="page-title">Liste des Utilisateurs</h1>
    </div>
    
    <div class="sort-buttons">

    </div>

    <form action="/users/liste" method="GET" class="search-form">
        <input type="text" name="search" placeholder="Rechercher un utilisateur" value="<%= typeof search !== 'undefined' ? search : '' %>">
        <button type="submit"><i class="fas fa-search"></i> Rechercher</button>
    </form>
    

    <table id="">
        <thead>
            <tr>
                <th>Login</th>
                <th>Email</th>
                <th>Type</th>
                <th>Actions</th>   
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user => { %>
                <tr>
                    <td><%= user.login %></td>
                    <td><%= user.email %></td>
                    <td><%= user.userType %></td>
                    <td>
                    <a href="/users/profil/<%= user.id %>" class="btn-profil">
                        <i class="fas fa-user"></i> Profil
                    </a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>