<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templar Hotel - Luxe & Élégance</title>
    <link rel="stylesheet" href="/style/daformobjet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>

<form action="/thermos/edit/<%= device.id %>" method="POST">
    <label>Nom :</label>
    <input type="text" name="name" value="<%= device.name %>"required><br>
  
    <label>Marque :</label>
    <input type="text" name="brand" value="<%= device.brand %>"required><br>
  
    <label>Type de connexion :</label>
    <input type="text" name="connectionType" value="<%= device.connectionType %>"required><br>
  
    <label>Localisation :</label>
    <input type="text" name="localisation" value="<%= device.localisation %>"required><br>
  
    <label>Température cible :</label>
    <input type="text" name="goalTemp" value="<%= device.goalTemp %>"required><br>
  
    <label>Status :</label>
    <select name="status" required>
      <option value="Actif">Actif</option>
      <option value="Inactif">Inactif</option>
    </select><br>
  
    <button type="submit">Appliquer</button>
  </form>

</body>
</html>