<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil de <%= user.login %></title>
    <link rel="stylesheet" href="../style/daprofil.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <a class="btnreturn" href="/users/dashboard<%= user.userType.charAt(0).toUpperCase() + user.userType.slice(1) %>">
        <img src="https://images.icon-icons.com/2518/PNG/512/arrow_back_icon_151627.png" width="50px" height="50px"></img>
    </a>
    <% if (success_msg && success_msg.length > 0) { %>
        <br><br><br>
        <div class="success-message">
            <i class="fas fa-check-circle"></i> <%= success_msg %>
        </div>
    <% } %>
    <br>
    <div class="profile-container">
        <div class="profile-header">
            <div class="profile-avatar">
                <%= user.profilePicture%>
            </div>
            <h1><%= user.login %></h1>
        </div>
        
        <div class="profile-body">
            <div class="profile-info">
                <div class="info-item">
                    <div class="info-label">Prénom</div>
                    <div class="info-value"><%= user.firstName %></div>
                </div>
                
                <div class="info-item">
                    <div class="info-label">Nom</div>
                    <div class="info-value"><%= user.lastName %></div>
                </div>
                
                <div class="info-item">
                    <div class="info-label">Âge</div>
                    <div class="info-value"><%= user.age %> ans</div>
                </div>
                
                <div class="info-item">
                    <div class="info-label">Genre</div>
                    <div class="info-value"><%=user.gender %></div>
                </div>
                
                <div class="info-item">
                    <div class="info-label">Date de naissance</div>
                    <div class="info-value"><%= new Date(user.birthDate).toLocaleDateString('fr-FR') %></div>
                </div>
                
                <div class="info-item">
                    <div class="info-label">Dernière connexion</div>
                    <div class="info-value"><%= new Date(user.last_login).toLocaleString('fr-FR') %></div>
                </div>
            </div>
            
            <div class="profile-actions">
                <a href="/users/modifProfil" class="btn">
                    <i class="fas fa-edit"></i> Modifier le profil
                </a>
                <a href="/users/logout" class="btn btn-outline">
                    <i class="fas fa-sign-out-alt"></i> Déconnexion
                </a>
            </div>
        </div>
    </div>
</body>
</html>